@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake-up-down {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  .animate-shake-up-down {
    animation: shake-up-down 2s ease-in-out infinite;
  }
  